.modal-window-call {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0, 0, 0, 0.9);
    opacity: 1;
    transition: opacity .5s;
}

.modal-window-msg {
    background: #fff;
    width: 360px;
    padding: 30px;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transition: .3s linear;
    cursor: auto;
}

.modal-window-msg-calc {
    width: 1260px;
    height: 675px;
    overflow: auto;
}

/*.modal-none {
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
}*/

.modal-window-content {
    position: relative;
}

.modal-window-close {
    position: absolute;
    right: -15px;
    top: -15px;
    color: #ccc;
    font-size: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
}

.wrapper-block {
    position: relative;
    width: 1260px;
    height: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window-close:hover {
    color: #ffc533;
}

/*******************************************************/

.modal-window-visible {
    -webkit-animation:iziM-comingIn .5s ease;
    -moz-animation:iziM-comingIn .5s ease;
    animation:iziM-comingIn .5s ease
}

.modal-window-hidden {
    -webkit-animation:iziM-comingOut .5s cubic-bezier(.16,.81,.32,1);
    -moz-animation:iziM-comingOut .5s cubic-bezier(.16,.81,.32,1);
    animation:iziM-comingOut .5s cubic-bezier(.16,.81,.32,1);
    animation-fill-mode:forwards
}

.modalFadeOut{
    -webkit-animation:iziM-fadeOut .5s;
    -moz-animation:iziM-fadeOut .5s;
    animation:iziM-fadeOut .5s;
    animation-fill-mode:forwards;
}

@-webkit-keyframes iziM-comingIn{
    0%{
        opacity:0;
        transform:scale(.9) translateY(-50%) perspective(600px) rotateX(10deg)
    }
    to{
        opacity:1;
        transform:scale(1) translateY(-50%) perspective(600px) rotateX(0)
    }
}
@-moz-keyframes iziM-comingIn{
    0%{
        opacity:0;
        transform:scale(.9) translateY(-50%) perspective(600px) rotateX(10deg)
    }
    to{
        opacity:1;
        transform:scale(1) translateY(-50%) perspective(600px) rotateX(0)
    }
}
@keyframes iziM-comingIn{
    0%{
        opacity:0;
        transform:scale(.9) translateY(-50%) perspective(600px) rotateX(10deg)
    }
    to{
        opacity:1;
        transform:scale(1) translateY(-50%) perspective(600px) rotateX(0)
    }
}
@-webkit-keyframes iziM-comingOut{
    0%{
        opacity:1;
        transform:scale(1) translateY(-50%)
    }
    to{
        opacity:0;
        transform:scale(.9) translateY(-50%)
    }
}
@-moz-keyframes iziM-comingOut{
    0%{
        opacity:1;
        transform:scale(1) translateY(-50%)
    }
    to{
        opacity:0;
        transform:scale(.9) translateY(-50%)
    }
}
@keyframes iziM-comingOut{
    0%{
        opacity:1;
        transform:scale(1) translateY(-50%)
    }
    to{
        opacity:0;
        transform:scale(.9) translateY(-50%)
    }
}
@-webkit-keyframes iziM-fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
@-moz-keyframes iziM-fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
@keyframes iziM-fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}